nav {
    background-color: darkgreen;
    padding: 5px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: black;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    height: auto;
    background-color: rgb(70, 60, 46);
    padding: 1em;
    margin: 1em;
    border: 1px black solid;
    color: white;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    background-color: darkgreen;
    color: white;
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}